<!-- app/views/your_view.html.erb -->
<div id="overlay" class="overlay home"></div>
<div class="center-point"><%= image_tag 'logo-kids.png' %></div>
<div id="circles"></div>
<!-- 画像パスをデータ属性として設定 -->
<div id="image-details" style="display: none;">
  <div data-path="<%= asset_path('single-neutral.png') %>" data-alt="user" data-class="user-icon s-icon"></div>
  <div data-path="<%= asset_path('camera-settings-focus.png') %>" data-alt="camera" data-class="camera-icon s-icon" data-id="cameraApp1"></div>
  <div data-path="<%= asset_path('search-1.png') %>" data-alt="instagram" data-class="instagram-icon small-icon"></div>
  <div data-path="<%= asset_path('shopping-advertising-duration-countdown.png') %>" data-alt="ad" data-class="ad-icon small-icon"></div>
  <div data-path="<%= asset_path('shopping-advertising-duration-countdown.png') %>" data-alt="ad" data-class="ad-icon small-icon"></div>
</div>

<div id="answerModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen" role="document">
    <div class="modal-content">
      <div class="modal-body answer-modal-body" id="answerModalBody" style="overflow: scroll;"></div>
    </div>
  </div>
</div>
<div id="cardContentModal" class="modal fade card-content" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen" role="document">
    <div class="modal-content" style="background-color: white;">
      <div class="modal-body card-modal-body" id="cardModalBody" style="overflow: scroll;">
        <div class="question-section">
          <div class="whats-question">
            <div class="whats-question-content">質問</div>
          </div>
          <div class="card-content-question"></div>
        </div>
        <div class="answers-section">
          <div class="whats-generate">
            <div class="whats-generate-content"></div>
          </div>
          <div id="customCarousel" class="custom-carousel">
            <div class="custom-carousel-inner">
              <div class="answer-type" style="display: none;"></div>
              <div class="custom-slide answer-1 active"></div>
              <div class="custom-slide answer-2"></div>
              <div class="custom-slide answer-3"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="change-answer">
        <!-- インジケーター -->
        <div class="custom-indicators">
          <span class="indicator active" data-slide-to="0"></span>
          <span class="indicator" data-slide-to="1"></span>
          <span class="indicator" data-slide-to="2"></span>
        </div>
      </div>
      <div class="modal-footer" style="height: auto;">
        <div class="edit-card-buttons">
          <div class="edit" style="display: none;">
            編集
          </div>
        </div>
        <div class="footer-right">
          <div class="generate-div">
            <div class="re-generate-answer-button">
              <%= render 'shared/svg/reload' %>
            </div>
          </div>
          <div class="evaluation-div">
            <!-- その他のフッターコンテンツ -->
            <div class="like"></div>
            <div class="like-count"></div>
            <div class="bookmark"></div>
            <div class="bookmark-count"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- カメラモーダル(撮影のみ) -->
<div class="modal fade simple-camera-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow: hidden;">
  <div class="modal-dialog modal-fullscreen modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body camera-modal-body" id="camera-modal-body" style="position: relative; height: 100%;">
        <video class="preview" style="position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; object-fit: cover; display: block;" autoplay></video>
        <%= render 'shared/light_dark_area' %>
        <%= render 'shared/resizable_rect' %>
        <div class="button-elements">
          <div class="outer-circle" style="position: absolute; bottom: 50px; left: 50%; transform: translateX(-50%);">
            <div class="inner-circle capture-button"></div>
          </div>
          <div class="return-button m-1">
            ←
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 画像トリミングモーダル -->
<div class="modal fade trimming-image-modal" id="trimmingImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow: hidden;">
  <div class="modal-dialog modal-fullscreen modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body image-modal-body" id="image-modal-body" style="position: relative; height: 100%;">
        <!-- 写真プレビュー表示エリア -->
        <img id="preview" class="preview" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; object-fit: cover;">
        <%= render 'shared/light_dark_area' %>
        <%= render 'shared/resizable_rect' %>
        <!-- ここで撮影ボタンの位置を調整 -->
        <div class="outer-circle">
          <div class="inner-circle write-out-image"></div>
        </div>
        <div class="return-from-trimming">←</div>
      </div>
    </div>
  </div>
</div>
<%= render 'app/camera' %>
<%= render 'app/search' %>
<%= render 'app/folder', user_questions: @user_questions, liked_questions: @user_likes, saved_questions: @user_bookmarks %>
<%= render 'app/instagram', all_cards: @all_cards, user_questions: @user_questions, user_likes: @user_likes, user_bookmarks: @user_bookmarks %>
<%= render 'app/write' %>
<style>
  .home {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }

  .center-point {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center; /* 水平方向の中央寄せ */
    align-items: center; /* 垂直方向の中央寄せ */
    background-color: #F3F6FF;
  }

  .center-point img {
    max-width: 100%; /* 画像がコンテナの幅より大きくならないようにする */
    max-height: 100%; /* 画像がコンテナの高さより大きくならないようにする */
    object-fit: contain; /* 画像のアスペクト比を保持しつつ、コンテナに収める */
  }

  .rotating-circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    z-index: 0;
    margin-top: -25px;
    margin-left: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F6FF;
  }

  .rotating-circle img {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
  }

  .fade-out {
    opacity: 0;
    transition: opacity 0.1s ease;
  }

  #cardContentModal {
      z-index: 1100 !important;
  }

  .card-content .modal-footer {
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: #F3F6FF;
  }

  .card-content .modal-footer .generate-div {
    display: flex;
  }

  .card-content .modal-footer .evaluation-div {
    display: flex;
  }

  .return-button {
    position: absolute;
    bottom: 50px;
    left: 25%;
    transform: translateX(-25%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;

    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
    color: white;
  }

  .return-button:hover {
    background-color: white; /* マウスが乗ったときの背景色 */
    color: black;
    transition: background-color 0.3s ease; /* 背景色変更のアニメーション */
  }

  /* .return-camera-from-write {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    background-color: transparent;
    transition: background-color 0.3s ease;
    cursor: pointer;
    position: relative; /* 追加 */
    border-radius:50%;
    border: solid 1px white;
    width: 50px;
    height: 50px;
    color: white;
  }

  .return-camera-from-write:hover {
    background-color: white; /* マウスが乗ったときの背景色 */
    color: black;
    transition: background-color 0.3s ease; /* 背景色変更のアニメーション */
  } */

  /* カスタムカルーセルの基本スタイリング */
  .custom-carousel {
    position: relative;
    overflow: hidden;
  }

  /* 各スライドのスタイリング */
  .custom-slide {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* 最初は非表示 */
    transition: opacity 0.5s; /* 必要に応じてフェード効果を追加 */
  }

  .custom-slide.active {
    display: block; /* アクティブなスライドのみ表示 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  /* インジケーターのスタイリング */
  .custom-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #888;
    margin: 0 4px;
    cursor: pointer;
    transition: width 0.3s, height 0.3s; /* アニメーションを追加 */
  }

  .indicator.active {
    width: 8px;
    height: 8px;
    background-color: #000;
  }

  .change-answer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F6FF;
  }

  .whats-question {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    margin: 5%;
    background-color: #FFFCF3;
  }

  .whats-generate {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    margin: 5%;
  }

  .custom-button .active svg {
    position: absolute; /* 絶対位置指定 */
    top: 50%; /* 上部から50%の位置 */
    left: 50%; /* 左から50%の位置 */
    transform: translate(-50%, -50%); /* 中央に配置 */
    width: 60%; /* SVGのサイズ（必要に応じて調整） */
    height: 60%; /* SVGのサイズ（必要に応じて調整） */
  }

  .footer-right {
    display: flex;
    gap: 10px;
  }

  .edit-card-buttons {
    display: flex;
    gap: 20px;
  }

  .card-modal-body {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #F3F6FF;
  }

  .question-section {
    flex: 1; /* 質問セクションの幅を1の割合で設定 */
    display: flex;
    flex-direction: column;
  }

  .whats-question {
    flex: 1;
  }

  .card-content-question {
    flex: 9;
    margin: 0 5%;
  }

  .answers-section {
    flex: 2; /* 回答セクションの幅を2の割合で設定 */
    display: flex;
    flex-direction: column;
  }

  .whats-generate {
    flex: 1;
    background-color: #FFFCF3;
  }

  .custom-carousel {
    flex: 30;
    height: 100%;
    margin: 0 5%;
  }

  .custom-carousel-inner {
    height: 100%;
  }
</style>
