<!-- app/views/app/_user.html.erb -->
<!-- ユーザー詳細モーダル -->
<div class="modal fade user-modal" id="user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close user-modal-close" data-bs-dismiss="modal" aria-label="Close" style="position: absolute; top: 10px; right: 10px;"></button>
      </div>
      <div class="modal-body">
        <% if user_signed_in? %>
          <!-- ログインしているユーザーのお知らせ一覧 -->
          <div class="notifications-container">
            <h4 class="text-center">お知らせ</h4>
            <div class="notifications-box">
              <div class="user-notifications">
                <!-- ここに動的に生成されるお知らせ項目が配置される -->
                <% # お知らせのデータをループで処理 %>
                <% announcements.each do |announcement| %>
                  <div class="notification-item" data-id="<%= announcement.id %>" data-title="<%= truncate(announcement.title, length: 100) %>" data-time="<%= announcement.created_at.strftime("%Y年%m月%d日 %H:%M") %>">
                    <div class="notification-content">
                      <strong><%= truncate(announcement.title, length: 100) %></strong>
                      <!-- 日時の表示 -->
                      <p class="notification-time"><%= announcement.created_at.strftime("%Y年%m月%d日 %H:%M") %></p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class="feedback-form">
            <%= form_with url: '/feedback', method: :post, id: 'survey-form', local: false do |form| %>
              <div class="form-group">
                <%= form.label :feedback, "サービスに関して気になることや改善して欲しいことはありますか？", style: "color: white;" %>
                <%= form.text_area :feedback, class: 'form-control', rows: 3, placeholder: "あなたの意見をお聞かせください" %>
              </div>
              <div class="modal-footer">
                <%= form.submit "送信", class: "btn btn-primary", id: "submit-button" %>
              </div>
            <% end %>
          </div>

          <div id="thank_you_message" style="display: none;">
            ご協力いただきありがとうございます。
          </div>

          <!-- ユーザー情報 -->
          <div class="user-content-box" style="display: none;">
            <div class="user-content">
              <p><%= current_user.username %></p>
              <p><%= current_user.email %></p>
              <div class="user-buttons">
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-danger', id: 'logout-link' %>
              </div>
            </div>
          </div>
        <% else %>
          <!-- ログインしていないユーザーへの登録メリットのスライド -->
          <div id="app-desc-slide" class="carousel slide" data-bs-ride="carousel">
            <!-- スライド内のアイテム -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="carousel-caption">
                  <div class="desc-icon">
                    <div class="icon-div">
                      <%= render 'shared/svg/camera' %>
                    </div>
                    <p><span>宿題を撮影するカメラ</span></p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-caption">
                  <div class="desc-image">
                    <%= image_tag 'camera_example.png' %>
                    <p><span>範囲を指定して撮影</span></p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-caption">
                  <div class="desc-icon">
                    <div class="icon-div">
                      <%= render 'shared/svg/menu/search' %>
                    </div>
                    <p><span>存在する回答を検索</span></p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-caption">
                  <div class="desc-image">
                    <%= image_tag 'search_example_1.png' %>
                    <p><span>他のユーザの質問、自分がした質問、いいね・ブックマークした質問を一覧表示</span></p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-caption">
                  <div class="desc-image">
                    <%= image_tag 'search_example_2.png' %>
                    <p><span>存在する質問を検索</span></p>
                  </div>
                </div>
              </div>
              <!-- 他のスライドアイテムを追加 -->
            </div>
            <!-- コントローラー -->
            <button class="carousel-control-prev" type="button" data-bs-target="#app-desc-slide" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#app-desc-slide" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <div class="bottom-container">
          <!-- フッターの内容 -->
          <% if user_signed_in? %>
            <div class="circle-bg"></div>
            <div class="circle-quarter">
              <div class="gear">
                <%= render 'shared/svg/gear' %>
              </div>
            </div>
          <% else %>
            <!-- ログインしていない場合のフッター -->
            <%= link_to "ユーザー登録", new_user_registration_path, class: "auth-button signup-button btn btn-outline-light" %>
            <%= link_to "ログイン", new_user_session_path, class: "auth-button login-button btn btn-outline-light" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .user-modal {
    .notifications-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      padding: 20px;
    }

    .text-center, .notification-content, .notification-time {
      color: #FFFCF3;
    }

    .notifications-box {
      width: 100%; /* ボックスの幅を調整してください */
      max-height: 300px; /* ボックスの最大高さを調整してください */
      overflow-y: auto; /* 縦方向のスクロールを有効化 */
      border: 1px solid #FFFCF3; /* ボーダーのスタイルを調整してください */
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* ボックスの影を調整してください */
      border-radius: 50px;
    }

    .user-notifications {
      list-style: none;
      padding: 0;
      width: 100%;
    }

    .notification-item {
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 10px;
      border-radius: 50px;
      transform: scale(0.95); /* 初期スケールを設定 */
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* トランジションを追加 */
      opacity: 0.9; /* 初期透明度 */
    }

    .notification-item:hover {
      background-color: #FFFCF3;
    }

    .notification-item:hover .notification-content,
    .notification-item:hover .notification-time {
      color: #000; /* テキストの色を黒に変更 */
    }

    /* タイトルと内容のスタイル（必要に応じて追加） */
    .notification-item h5 {
      margin-top: 0;
      color: #333;
      font-size: 16px;
      font-weight: bold;
    }

    .notification-item p {
      margin-bottom: 0;
    }

    .notification-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;
    }

    .notification-time {
      font-size: 0.8em;
    }

    .expanded-notification {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 2000;
      overflow-y: auto;
      padding: 20px;
      box-sizing: border-box;
      transform: scale(1); /* 拡大時のスケール */
      opacity: 1; /* 拡大時の透明度 */
    }

    .circle-quarter {
      width: 50px; /* 半分の幅で円を形成するため */
      height: 50px; /* 半分の高さで円を形成するため */
      background-color: transparent;
      /* transition: background-color 0.3s ease; */
      border-radius: 100% 0 0 0; /* 右下の四分の一円を形成するため */
      position: fixed;
      bottom: 10px; /* 画面の一番下に配置 */
      right: 10px; /* 画面の一番右に配置 */
      z-index: 999;
    }

    .circle-quarter:hover {
      background-color: transparent;
    }

    .gear {
      width: 50px;
      height: 50px;
      background-color: transparent;
      cursor: pointer;
      transition: transform 0.3s ease;
      animation: rotateRight 20s linear infinite; /* 右回転のアニメーションを適用 */
      animation-play-state: running;
    }

    /* 右回転のアニメーション */
    @keyframes rotateRight {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    /* 左回転のアニメーション */
    @keyframes rotateLeft {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(-360deg);
      }
    }

    .gear.rotateLeft {
      animation: rotateLeft 20s linear infinite;
    }


    .gear svg {
      position: absolute; /* 絶対位置指定 */
      right: 0;
      bottom: 0;
      width: 50px;
      height: 50px;
    }

    .stroke-black {
      stroke: black;
    }

    #option-panel {
      position: fixed; /* 画面に固定 */
      overflow: hidden;
      /* max-height: 100vh; 画面の高さを超えないようにする */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
    }

    /*アクティブになったエリア*/
    #option-panel.panelactive{
      z-index: 999;
      left: 0;
    }

    /*丸の拡大*/
    .circle-bg{
      position: fixed;
      z-index:3;
      /*丸の形*/
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #F3F6FF;
      /*丸のスタート位置と形状*/
      transform: scale(0);/*scaleをはじめは0に*/
      right:-50px;
      bottom:-50px;
      transition: all .2s;/*0.6秒かけてアニメーション*/
    }

    .circle-bg.circleactive{
      transform: scale(60);/*クラスが付与されたらscaleを拡大*/
    }

    .user-content-box {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 4;
    }

    .user-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .feedback-form {
      padding: 20px; /* 内側の余白 */
      border-radius: 5px; /* 角の丸み */
    }

    .feedback-label {
      font-weight: bold; /* ラベルの文字太さ */
    }

    .form-control {
      margin-top: 10px; /* 上マージン */
      border: 1px solid #ccc; /* 境界線 */
      border-radius: 4px; /* 角の丸み */
      max-height: 60px;
      resize: none;
    }

    .submit-button {
      margin-top: 20px; /* 送信ボタンの上マージン */
    }

    #thank_you_message {
      display: none; /* 初期状態は非表示 */
      background-color: #4CAF50; /* 背景色 */
      color: white; /* 文字色 */
      padding: 20px; /* 上下左右のパディング */
      margin: 20px 0; /* 上下のマージン */
      text-align: center; /* テキストを中央揃え */
      border-radius: 5px; /* 境界線の丸み */
    }

    #app-desc-slide {
      height: 100%;
    }

    .carousel-inner {
      height: 100%;
    }

    .carousel-item {
      height: 100%;
    }

    .carousel-caption {
      height: 100%;
      display: flex;
      flex-direction: column;
    } 

    .desc-icon {
      flex: 1;
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .desc-icon .icon-div {
      border-radius: 50%;
      background-color: #F3F6FF;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }

    .desc-icon .icon-div svg {
      width: 80%;
      height: 80%;
    }

    .desc-image {
      flex: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .desc-image img {
      height: 100%;
      width: 100%;
    }

    @media only screen and (max-width: 425px) {
      .desc-image img {
        height: 50%;
      }
    }

    .carousel-caption p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
    }
  }
</style>
