<%# app/views/layouts/application.html.erb %>

<!DOCTYPE html>
<html>
  <head>
    <title>AiHomework</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://accounts.google.com/gsi/client"></script>
  </head>

  <body id="main-body" class="<%= user_signed_in? ? 'user-logged-in' : 'user-logged-out' %>">
    <%= yield %>
  </body>
</html>

<script>
var vh=window.innerHeight;
document.getElementById('main-body').style.height=vh+'px';
</script>

<style>
 #main-body {
  background-color: #F3F6FF;
 }
</style>